@import './fonts/fonts.styl'

$mainColor = #3F51B5
$white = #fff

*
    box-sizing: border-box

html
    margin: 0 10px

body
    font: 14px / 1.5 'Lato', sans-serif
    padding: 0
    margin: 0
    position: fixed
    top: 9px
    overflow-x: hidden
    width: calc(100vw - 20px)
    height: calc(100vh - 30px)
    //cursor: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/cursor.png') 32 32, move

    &:before
        content: ""
        position: absolute
        left: 50%
        margin-left: -8px
        margin-top: -8px
        display: block
        width: 0
        height: 0
        border-left: 8px solid transparent
        border-right: 8px solid transparent
        border-bottom: 8px solid $mainColor
        z-index: 1

    &:after
        content: ''
        width: inherit
        height: inherit
        position: absolute
        top: 0
        left: 0
        border-radius: 5px
        box-shadow: 0px 1px 8px -1px black
        pointer-events: none
        background-color: white
        z-index: -1

.calendar-container
    height: 100%
    display: flex
    flex-direction: column

.calendar-container header
    background: $mainColor
    color: $white
    padding: 10px
    text-align: center
    border-radius: 5px 5px 0 0

.day
    font-size: 8em
    line-height: 1
    font-weight: 900

.month
    font-size: 4em
    line-height: 1
    text-transform: lowercase

.calendar
    background: $white
    padding: 10px 5px
    border-bottom: 1px solid $mainColor

.calendar
    .days-of-week,
    .days
        display: grid
        grid-template-columns: repeat(7, 1fr)

    .days-of-week
        color: $mainColor
        font-weight: 700
        text-transform: uppercase

    .days
        color: #555

    .days-of-week div,
    .days div
        height: 27px
        text-align: center
        padding: 1px
        z-index: 2

    .days > div > span
        position: relative
        cursor: pointer

    .current-day > span
        position: relative
        color: $white

    .current-day > span:before
        content: ''
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 25px
        height: 25px
        border-radius: 50%
        border: 1px solid $mainColor
        background-color: $mainColor
        cursor: pointer
        z-index: -1

.days > div:not(.current-day):hover span:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 25px
    height: 25px
    border-radius: 50%
    background-color: rgba(0,0,0,0.1)
    border: 1px solid rgba(0,0,0,0.1)
    cursor: pointer

.prev-month,
.next-month
    color: #cacaca

.left,
.right
    vertical-align: super
    user-select: none
    cursor: pointer
    overflow: visible

path
    stroke-width: 3
    transition: all 250ms ease-in-out

.left:hover path,
.left:focus path,
.right:hover path,
.right:focus path
    stroke-width: 6

.left:active path,
.right:active path
    stroke-width: 15
    transition: all 100ms ease-in-out

.calendar-app
    height: 100%

@keyframes item-enter
    from
        opacity: 0
        transform: translateY(20px)
    to
        opacity: 1
        transform: translateY(0)

@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1

.meeting-wrapper
    height: 100%
    border-radius: 0 0 5px 5px
    background-color: #f1f1f1
    overflow-y: auto

    &::-webkit-scrollbar
        width: 0

.meeting-item
    display: grid
    grid-template-columns: 18% 82%
    padding: 8px
    margin: 8px
    background-color: $white
    border-radius: 3px
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2)
    opacity: 0
    animation: item-enter 0.3s ease-in-out forwards

// make animation of stacking on each other
for i in (0..10)
    .meeting-item:nth-child({i})
        animation-delay: i * 0.1s

.meeting-summary
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

.no-meetings-today
    height: 100%;
    color: #333
    text-align: center
    padding-top: 20vh
    animation: fade-in 0.3s linear forwards

.today
    margin-left: 20px
    user-select: none
    cursor: pointer

.select
    display: inline-flex
    flex-direction: column
    position: relative
    width: 80px
    height: 40px
    border-radius: 5px
    z-index: 3

.option
    position: absolute
    top: 0
    display: flex
    order: 2
    align-items: center
    padding: 0 8px
    min-height: 40px
    background: $mainColor
    border-top: #7b8bde solid 1px
    width: 100%
    pointer-events: none
    box-sizing: border-box
    overflow: hidden
    white-space: nowrap
    z-index: 1

.option:hover
    background: #7b8bde

.select:focus .option
    position: relative
    pointer-events: all

input
    position: absolute
    left: -100vw

input:checked + label
    position: relative
    order: 1
    border-top: none
    z-index: 2
